@charset "UTF-8";
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-BlackItalic.woff2") format("woff2"), url("../fonts/Inter-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Inter-ExtraBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-BoldItalic.woff2") format("woff2"), url("../fonts/Inter-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Inter-ExtraLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraLight.woff2") format("woff2"), url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"), url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"), url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Italic.woff2") format("woff2"), url("../fonts/Inter-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-LightItalic.woff2") format("woff2"), url("../fonts/Inter-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-MediumItalic.woff2") format("woff2"), url("../fonts/Inter-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Inter-SemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Thin.woff2") format("woff2"), url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-ThinItalic.woff2") format("woff2"), url("../fonts/Inter-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-V.woff2") format("woff2"), url("../fonts/Inter-V.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotoblack;
  font-display: swap;
  src: url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotoblackitalic;
  font-display: swap;
  src: url("../fonts/Robotoblackitalic.woff2") format("woff2"), url("../fonts/Robotoblackitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotobold;
  font-display: swap;
  src: url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotobolditalic;
  font-display: swap;
  src: url("../fonts/Robotobolditalic.woff2") format("woff2"), url("../fonts/Robotobolditalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotoitalic;
  font-display: swap;
  src: url("../fonts/Robotoitalic.woff2") format("woff2"), url("../fonts/Robotoitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotolight;
  font-display: swap;
  src: url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotolightitalic;
  font-display: swap;
  src: url("../fonts/Robotolightitalic.woff2") format("woff2"), url("../fonts/Robotolightitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotomedium;
  font-display: swap;
  src: url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotomediumitalic;
  font-display: swap;
  src: url("../fonts/Robotomediumitalic.woff2") format("woff2"), url("../fonts/Robotomediumitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotothin;
  font-display: swap;
  src: url("../fonts/Robotothin.woff2") format("woff2"), url("../fonts/Robotothin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Robotothinitalic;
  font-display: swap;
  src: url("../fonts/Robotothinitalic.woff2") format("woff2"), url("../fonts/Robotothinitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
  background-color: #1e1e1e;
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1690px;
  }
}
a,
input,
button {
  outline: none;
}

input:focus,
button:focus {
  outline: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.static {
  position: static;
}

.hidden {
  overflow: hidden;
}

.wrap {
  display: flex;
}

.header {
  padding: 21px 0;
  background: rgba(35, 35, 35, 0.71);
  backdrop-filter: blur(40px);
}
.header__burger {
  display: none;
}
.header__burger-head {
  display: none;
}
.header__burger-btn {
  display: none;
}
.header__wrap {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 158px;
  height: 37px;
  margin: 0px 33px 0px 0;
}
.header__menu {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 96%;
  margin: 0px 0 0px 0;
  color: #575757;
}
.header__menu-item:first-child {
  margin-right: 46px;
}
.header__menu-item:nth-child(2) {
  margin-right: 52px;
}
.header__menu-item:nth-child(3) {
  margin-right: 53px;
}
.header__menu-link {
  color: #575757;
}
.header__menu-link--red {
  color: #c4364e;
}
.header__menu-link--red:hover {
  color: #c4364e;
}
.header__user {
  display: flex;
  margin-left: auto;
}
.header__user-img {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  margin: 0px 11px 0px 0;
}
.header__user-name {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  margin-bottom: 7px;
}
.header__user-balance {
  display: flex;
  margin-bottom: 11px;
}
.header__user-count-wrap {
  display: flex;
  margin-right: 11px;
}
.header__user-count-img {
  width: 16px;
  height: 18px;
  margin-right: 4px;
}
.header__user-count-text {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4FFFAA;
}
.header__user-menu {
  display: flex;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  color: #575757;
}
.header__user-item {
  margin-right: 12px;
}
.header__user-item:last-child {
  margin-right: 0;
}
.header__user-link {
  color: #575757;
}
.header__user-level {
  display: flex;
}
.header__user-level-current {
  margin-right: 6px;
}
.header__user-level-text {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #95999f;
}
.header__user-level-text span {
  color: #ffffff;
}
.header__user-level-progress {
  margin-right: 6px;
  position: relative;
  background-color: #2c2c2c;
  border-radius: 54px;
  width: 211px;
  height: 8px;
}
.header__user-level-line {
  width: 113px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c4364e;
  box-shadow: 0px 0px 19px rgba(196, 54, 78, 0.33);
  border-radius: 54px;
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    position: fixed;
    padding: 10px 0 11px 0;
    background: #1e1e1e;
    z-index: 111;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header__user {
    display: none;
  }
  .header__user-level {
    align-items: center;
  }
  .header__user-level-progress {
    width: 195px;
  }
  .header__user-level-line {
    width: 113px;
  }
  .header__burger {
    width: 100%;
    height: 100vh;
    background: #1e1e1e;
    position: fixed;
    top: 46px;
    left: -100%;
    transition: all 0.4s ease;
    display: block;
    padding: 0 20px;
    z-index: 1000;
  }
  .header__burger--active {
    left: 0;
  }
  .header__burger-head {
    display: flex;
    align-items: center;
  }
  .header__burger-btn {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 19px;
  }
  .header__burger-btn span {
    width: 20px;
    height: 3px;
    background-color: #505050;
    position: relative;
    transition: all 0.3s ease;
  }
  .header__burger-btn span::before, .header__burger-btn span::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #505050;
    transition: all 0.3s ease;
  }
  .header__burger-btn span::before {
    top: 6px;
  }
  .header__burger-btn span::after {
    bottom: 6px;
  }
  .header__burger-btn--active span {
    transform: rotate(45deg);
  }
  .header__burger-btn--active span::after {
    bottom: 0;
  }
  .header__burger-btn--active span::after, .header__burger-btn--active span::before {
    transform: rotate(90deg);
    top: 0;
  }
  .header__burger-logo {
    width: 108px;
    height: 26px;
  }
  .header__burger-user {
    margin-bottom: 17px;
  }
  .header__burger-user-wrap {
    display: flex;
    margin-bottom: 11px;
  }
  .header__burger-user-img {
    width: 69px;
    height: 69px;
    margin-right: 11px;
  }
  .header__burger-user-name {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 3px;
  }
  .header__burger-user-menu {
    margin: 0 auto 17px;
    color: #ffffff;
  }
  .header__burger-user-menu__item {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #575757;
    border-radius: 5px;
    margin-bottom: 7px;
  }
  .header__burger-user-menu__item:last-child {
    margin-bottom: 0;
  }
  .header__burger-user-menu__link {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
  .header__burger-balance {
    display: flex;
  }
  .header__burger-balance-icon {
    width: 20px;
    height: 23px;
    margin-right: 2px;
  }
  .header__burger-balance-count {
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #4FFFAA;
  }
  .header__burger-menu {
    color: #575757;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    font-size: 18px;
    line-height: 96%;
  }
  .header__burger-menu-item {
    margin-bottom: 21px;
  }
  .header__burger-menu-item:last-child {
    margin-bottom: 0;
  }
  .header__burger-menu-link {
    color: #575757;
  }
  .header__burger-menu-link--red {
    color: #c4364e;
  }
}
.footer__menu {
  display: flex;
  color: #5f5f5f;
  margin-left: 413px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.footer__menu-link {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  line-height: 156%;
  color: #5f5f5f;
}

@media screen and (max-width: 320px) {
  .footer__menu {
    margin: 117px 0 0 0;
  }
}
.tabs__menu {
  display: flex;
  margin-bottom: 14px;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #575757;
}
.tabs__menu-item {
  margin-right: 16px;
}
.tabs__menu-item:last-child {
  margin-right: 0;
}
.tabs__menu-link--active {
  color: #c4364e;
  font-weight: bold;
}

.online-chat {
  width: 400px;
  height: 738px;
  border-radius: 5px;
  background: #212121;
  position: relative;
}
.online-chat__header {
  width: 400px;
  padding: 16px 23px 16px 12px;
  background: #2f2f2f;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}
.online-chat__header-img {
  width: 18px;
  height: 18px;
  margin-right: 9px;
}
.online-chat__header-title {
  color: #ffffff;
  font-weight: 500;
  margin-right: auto;
}
.online-chat__header-online {
  display: flex;
  align-items: center;
}
.online-chat__header-online-count {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #ced7e2;
  margin-right: 6px;
}
.online-chat__header-online-icon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #79ffa7;
  box-shadow: 0px 0px 16px #79ffa7;
}
.online-chat__main-wrap {
  width: 400px;
  position: relative;
  overflow-y: scroll;
  height: 600px;
}
.online-chat__main-wrap::-webkit-scrollbar {
  display: none;
}
.online-chat__main-wrap::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;
  top: -10px;
  left: 0;
  background: linear-gradient(180deg, #212121 20.24%, rgba(28, 31, 36, 0) 113.1%);
}
.online-chat__main-messages {
  padding: 0 23px 0px 15px;
}
.online-chat__main-messages__item {
  display: flex;
  margin-bottom: 19px;
}
.online-chat__main-messages__item:last-child {
  margin-bottom: 0;
}
.online-chat__main-messages__user {
  display: flex;
  margin-right: 2px;
}
.online-chat__main-messages__img {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  margin-right: 2px;
}
.online-chat__main-messages__icon {
  width: 22px;
  height: 22px;
}
.online-chat__main-messages__text {
  color: #ced7e2;
}
.online-chat__main-messages__name {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  font-weight: 600;
  margin-right: 5px;
}
.online-chat__footer {
  width: 100%;
  height: 46px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #252628;
  border: 1px solid rgba(255, 255, 255, 0.03);
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.online-chat__footer-field {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-left: 16px;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  line-height: 96%;
  color: #575757;
  border: 0;
  padding-bottom: 5px;
}
.online-chat__footer-btns {
  display: flex;
  align-items: center;
  margin: 0px 17px 0 0;
}
.online-chat__footer-btn {
  background-color: transparent;
  border: 0;
}
.online-chat__footer-file img {
  width: 24px;
  height: 24px;
}
.online-chat__footer-send img {
  width: 17px;
  height: 16px;
}

@media screen and (max-width: 320px) {
  .online-chat {
    display: none;
  }
}
.roulette__wrap {
  position: relative;
  display: flex;
  margin-bottom: 22px;
  overflow: hidden;
}
.roulette__wrap::before, .roulette__wrap::after {
  content: "";
  width: 225px;
  height: 100%;
  position: absolute;
  background: linear-gradient(90deg, #1e1e1e 15.71%, rgba(37, 37, 37, 0) 100%);
}
.roulette__wrap::before {
  left: 0;
}
.roulette__wrap::after {
  right: 0;
  transform: rotate(180deg);
}
.roulette__line {
  display: flex;
  align-items: center;
}
.roulette__line-item {
  margin-right: 22px;
}
.roulette__line-item:last-child {
  margin-right: 0;
}
.roulette__line-img {
  width: 124px;
  height: 130px;
  object-fit: contain;
}
.roulette__select {
  width: 5px;
  height: 130px;
  background: #c4364e;
  box-shadow: 0px 4px 38px rgba(196, 54, 78, 0.33);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
}
.roulette__last-rolls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.roulette__last-rolls__text {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #575757;
  margin-right: 9px;
}
.roulette__last-rolls__list {
  display: flex;
  align-items: center;
}
.roulette__last-rolls__item {
  margin-right: 7px;
}
.roulette__last-rolls__item:last-child {
  margin-right: 0;
}
.roulette__last-rolls__img {
  width: 48px;
  height: 51px;
  object-fit: contain;
}
.roulette__bet {
  width: 738px;
  height: 46px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #252628;
  border: 1px solid rgba(255, 255, 255, 0.03);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0px 10px 0px 0px;
}
.roulette__bet-sum {
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.03);
  margin-right: 14px;
  position: relative;
}
.roulette__bet-sum-img {
  width: 18px;
  height: 18px;
  left: 16px;
  position: absolute;
}
.roulette__bet-sum-field {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  margin-left: 42px;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  line-height: 96%;
  color: #575757;
}
.roulette__bet-options {
  display: flex;
  align-items: center;
}
.roulette__bet-options__item {
  margin-right: 7px;
}
.roulette__bet-options__item:last-child {
  margin-right: 0;
}
.roulette__bet-options__btn {
  padding: 6px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252628;
  border: 1px solid rgba(255, 255, 255, 0.03);
  box-sizing: border-box;
  border-radius: 3px;
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  line-height: 96%;
}
.roulette__history {
  display: flex;
}
.roulette__history--m {
  margin-top: 20px;
  margin-left: 12px;
}
.roulette__history-item {
  width: 354px;
  margin-right: 19px;
}
.roulette__history-item:last-child {
  margin-right: 0;
}
.roulette__history-header {
  height: 50px;
  display: flex;
  align-items: center;
  background: #212121;
  border-radius: 5px;
  padding: 0 18px 0 12px;
  margin-bottom: 14px;
}
.roulette__history-header-img {
  width: 23px;
  height: 21px;
  margin-right: 9px;
}
.roulette__history-header-title {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  color: #ced7e2;
  margin-right: auto;
}
.roulette__history-header-type {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
.roulette__history-header-type--win {
  color: #4FFFAA;
}
.roulette__history-header-type--lose {
  color: #c4364e;
}
.roulette__history-list {
  background: #212121;
  border-radius: 5px;
}
.roulette__history-list-item {
  display: flex;
  align-items: center;
  padding: 14px 18px 13px 15px;
  border-bottom: 3px solid #272727;
}
.roulette__history-list-item:last-child {
  border: 0;
}
.roulette__history-list-user {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.roulette__history-list-img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 7px;
}
.roulette__history-list-name {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 4px;
}
.roulette__history-list-icon {
  width: 22px;
  height: 22px;
}
.roulette__history-list-sum {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.roulette__history-list-sum--win {
  color: #4FFFAA;
}
.roulette__history-list-sum--lose {
  color: #c4364e;
}

@media screen and (max-width: 320px) {
  .roulette {
    display: flex;
    flex-direction: column;
  }
  .roulette__menu {
    display: none;
  }
  .roulette__wrap {
    width: 280px;
    justify-content: center;
    margin-bottom: 24px;
  }
  .roulette__wrap::before, .roulette__wrap::after {
    width: 141px;
    height: 109px;
  }
  .roulette__select {
    height: 109px;
  }
  .roulette__line-item {
    margin-right: 7px;
  }
  .roulette__line-img {
    width: 111px;
    height: 109px;
  }
  .roulette__last-rolls {
    width: 270px;
    overflow: hidden;
    flex-direction: column;
    order: 4;
  }
  .roulette__last-rolls__text {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .roulette__last-rolls__item {
    margin-right: 5px;
  }
  .roulette__last-rolls__img {
    width: 46px;
    height: 50px;
  }
  .roulette__bet {
    width: 280px;
    height: fit-content;
    flex-direction: column;
    background-color: transparent;
  }
  .roulette__bet-sum {
    width: 280px;
    height: 46px;
    margin-right: 0;
    margin-bottom: 17px;
    background-color: #252628;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgba(255, 255, 255, 0.03);
  }
  .roulette__bet-sum-img {
    left: 20px;
  }
  .roulette__bet-sum-field {
    margin-left: 46px;
  }
  .roulette__bet-options {
    flex-wrap: wrap;
  }
  .roulette__bet-options__item {
    margin-right: 8px;
    margin-bottom: 7px;
  }
  .roulette__bet-options__item:nth-child(4) {
    margin-right: 0;
  }
  .roulette__bet-options__item:nth-child(5), .roulette__bet-options__item:nth-child(6) {
    display: none;
  }
  .roulette__bet-options__btn {
    padding: 6px 6px;
    font-weight: normal;
    font-size: 18px;
    line-height: 96%;
  }
  .roulette__history {
    flex-direction: column;
    align-items: center;
  }
  .roulette__history--m {
    margin-top: 18px;
    margin-left: 0;
    margin-bottom: 17px;
  }
  .roulette__history-item {
    width: 280px;
    margin-right: 0;
    margin-bottom: 17px;
  }
}
.games {
  padding: 22px 0 0 0;
}
.games .online-chat {
  margin-right: 13px;
}
.games__wrap {
  display: flex;
}

@media screen and (max-width: 320px) {
  .games {
    padding: 40px 0 0 0;
  }
}
.profile .online-chat {
  margin-right: 20px;
}

.profile {
  padding: 22px 0 0 0;
}
.profile__menu {
  display: flex;
  background: #262525;
  border-radius: 5px;
  padding: 8px 0 8px 16px;
  margin-bottom: 20px;
  color: #575757;
}
.profile__menu-item {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  margin-right: 14px;
}
.profile__menu-item:last-child {
  margin-right: 0;
}
.profile__menu-link {
  color: #575757;
}
.profile__menu-link--active {
  color: #c4364e;
}
.profile__menu-link--active:hover {
  color: #c4364e;
}
.profile-info {
  width: 100%;
}
.profile-info__header {
  display: flex;
  margin-bottom: 24px;
}
.profile-info__header-status {
  margin-left: auto;
}
.profile-header {
  display: flex;
  margin-bottom: 6px;
}
.profile-header__img {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  margin-right: 18px;
}
.profile-header__name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.profile-header__nick {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin-right: 7px;
}
.profile-header__icon {
  width: 13px;
  height: 13px;
}
.profile-header__links {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.profile-header__links-item {
  margin-right: 11px;
}
.profile-header__links-item:last-child {
  margin-right: 0;
}
.profile-header__links-link {
  width: 206px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  border-radius: 4px;
  color: #ffffff;
}
.profile-header__links-link--google {
  background: #e95656;
}
.profile-header__links-link--vk {
  background: #5688e9;
}
.profile-status {
  display: flex;
  flex-direction: column;
}
.profile-status-status {
  display: flex;
  justify-content: flex-end;
}
.profile-status__level {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 7px;
}
.profile-status__level-current {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-size: 39px;
  line-height: 47px;
  margin-right: 10px;
}
.profile-status__level-xp {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #656565;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.profile-status__cases {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-status__cases-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 2px;
}
.profile-status__cases-icon {
  width: 46px;
  height: 46px;
}
.profile-status__cases-count {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #656565;
}
.profile-status__progress {
  display: flex;
  align-items: center;
}
.profile-status__progress-count {
  display: flex;
  align-items: center;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  font-size: 19.25px;
  line-height: 23px;
  color: #95999f;
}
.profile-status__progress-count span {
  color: #ffffff;
}
.profile-status__progress-count--current {
  margin-right: 8px;
}
.profile-status__progress-icon {
  width: 31px;
  height: 31px;
}
.profile-status__progress-line {
  width: 290px;
  height: 11px;
  background-color: #2c2c2c;
  border-radius: 74.25px;
  position: relative;
  margin-right: 8px;
}
.profile-status__progress-now {
  width: 155px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #c4364e;
  box-shadow: 0px 0px 26.125px rgba(196, 54, 78, 0.34);
  border-radius: 74.25px;
}
.profile-inventory__title {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-size: 19.25px;
  line-height: 23px;
  margin-bottom: 14px;
}
.profile-inventory__wrap {
  width: 1240px;
  padding: 32px 47px 32px 21px;
  display: flex;
  background: #212121;
  border-radius: 15px;
}
.profile-inventory__items {
  width: 792px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding-right: 27px;
  border-right: 3px solid #272727;
}
.profile-inventory__items::-webkit-scrollbar {
  display: none;
}
.profile-inventory__items-item {
  width: 243px;
  height: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #252525;
  border-radius: 15px;
  margin-right: 16px;
  margin-bottom: 16px;
}
.profile-inventory__items-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.profile-inventory__items-item:nth-child(3n+3) {
  margin-right: 0;
}
.profile-inventory__items-img {
  width: 125px;
  height: 130px;
  margin-bottom: 2px;
}
.profile-inventory__items-title {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-size: 19.25px;
  line-height: 23px;
  margin-bottom: 16px;
}
.profile-inventory__btns {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.profile-inventory__btns-btn {
  padding: 6px 8px;
  background: #252628;
  border: 1px solid rgba(255, 255, 255, 0.03);
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 6px;
}
.profile-inventory__btns-btn:last-child {
  margin-right: 0;
}
.profile-inventory__btns-link {
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 96%;
}
.profile-inventory__cases-item {
  width: 353px;
  height: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #252525;
  border-radius: 15px;
  margin-bottom: 16px;
}
.profile-inventory__cases-img {
  width: 125px;
  height: 130px;
  margin-bottom: 2px;
}
.profile-inventory__cases-title {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-size: 19.25px;
  line-height: 23px;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  width: 570px;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.profile-inventory__cases {
  position: relative;
  margin-left: 28px;
  z-index: 2;
  /*Левая стрелочка*/
  /*Если слайдер достигнет конца,то кнопка пропадает
  */
  /*Точки*/
}
.profile-inventory__cases .slick-list {
  width: 353px;
}
.profile-inventory__cases .slick-track {
  flex-direction: column;
}
.profile-inventory__cases .slick-arrow {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  font-size: 0;
  width: 30px;
  margin-top: -30px;
  height: 30px;
  background: transparent;
  border: 0;
  outline: none;
}
.profile-inventory__cases .slick-arrow.slick-prev {
  background: url("../img/profile/inventory/slider/prev.svg") 0 0/100% no-repeat;
  background-size: 30px 30px;
}
.profile-inventory__cases .slick-arrow.slick-next {
  background: url("../img/profile/inventory/slider/next.svg") 0 0/100% no-repeat;
  background-size: 30px 30px;
  bottom: -15px;
}
.profile-inventory__cases .slick-arrow .slick-disabled {
  opacity: 0.2;
}
.profile-inventory__cases .slick-dots {
  display: flex;
  align-items: center;
}
.profile-inventory__cases .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.profile-inventory__cases .slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: #000;
  opacity: 0.5;
  border: 0;
  border-radius: 50%;
  outline: none;
}
.profile-inventory__cases .slick-dots li.slick-active button {
  background-color: transparent;
  background-color: #000;
  opacity: 1;
}