<!-- online chat  -->
<div class="online-chat">
  <!-- header  -->
  <div class="online-chat__header">
    <!-- img -->
    <img
      src="@img/online-chat/chat.svg"
      alt="Icon"
      class="online-chat__header-img"
    />
    <!-- img end  -->
    <!-- title  -->
    <p class="online-chat__header-title">Online Chat</p>
    <!-- title end  -->
  </div>
  <!-- header end  -->
  <!-- main  -->
  <div class="online-chat__main-wrap">
    <div class="online-chat__main">
      <ul class="online-chat__main-messages">
        <!-- messages item  -->
        <li class="online-chat__main-messages__item">
          <!-- user  -->
          <div class="online-chat__main-messages__user">
            <!-- img  -->
            <img
              src="@img/online-chat/user_1.png"
              alt="user"
              class="online-chat__main-messages__img"
            />
            <!-- img end  -->
            <!-- icon  -->
            <img
              src="@img/online-chat/green_rubin.svg"
              alt="icon"
              class="online-chat__main-messages__icon"
            />
            <!-- icon end  -->
          </div>
          <!-- user end  -->
          <!-- text  -->
          <p class="online-chat__main-messages__text">
            <!-- name  -->
            <span class="online-chat__main-messages__name"> Артемий </span>
            <!-- name end  -->
            ща на изи буду лутать бабки
          </p>
          <!-- text end  -->
        </li>
        <!-- messages item end -->
        <!-- messages item  -->
        <li class="online-chat__main-messages__item">
          <!-- user  -->
          <div class="online-chat__main-messages__user">
            <!-- img  -->
            <img
              src="@img/online-chat/user_2.png"
              alt="user"
              class="online-chat__main-messages__img"
            />
            <!-- img end  -->
            <!-- icon  -->
            <img
              src="@img/online-chat/red_rubin.svg"
              alt="icon"
              class="online-chat__main-messages__icon"
            />
            <!-- icon end  -->
          </div>
          <!-- user end  -->
          <!-- text  -->
          <p class="online-chat__main-messages__text">
            <!-- name  -->
            <span class="online-chat__main-messages__name"> Васька </span>
            <!-- name end  -->
            щя все слил!!111
          </p>
          <!-- text end  -->
        </li>
        <!-- messages item end -->
        <!-- messages item  -->
        <li class="online-chat__main-messages__item">
          <!-- user  -->
          <div class="online-chat__main-messages__user">
            <!-- img  -->
            <img
              src="@img/online-chat/user_1.png"
              alt="user"
              class="online-chat__main-messages__img"
            />
            <!-- img end  -->
            <!-- icon  -->
            <img
              src="@img/online-chat/green_rubin.svg"
              alt="icon"
              class="online-chat__main-messages__icon"
            />
            <!-- icon end  -->
          </div>
          <!-- user end  -->
          <!-- text  -->
          <p class="online-chat__main-messages__text">
            <!-- name  -->
            <span class="online-chat__main-messages__name"> Артемий </span>
            <!-- name end  -->
            ща на изи буду лутать бабки
          </p>
          <!-- text end  -->
        </li>
        <!-- messages item end -->
        <!-- messages item  -->
        <li class="online-chat__main-messages__item">
          <!-- user  -->
          <div class="online-chat__main-messages__user">
            <!-- img  -->
            <img
              src="@img/online-chat/user_2.png"
              alt="user"
              class="online-chat__main-messages__img"
            />
            <!-- img end  -->
            <!-- icon  -->
            <img
              src="@img/online-chat/red_rubin.svg"
              alt="icon"
              class="online-chat__main-messages__icon"
            />
            <!-- icon end  -->
          </div>
          <!-- user end  -->
          <!-- text  -->
          <p class="online-chat__main-messages__text">
            <!-- name  -->
            <span class="online-chat__main-messages__name"> Васька </span>
            <!-- name end  -->
            щя все слил!!111
          </p>
          <!-- text end  -->
        </li>
        <!-- messages item end -->
        <!-- messages item  -->
        <li class="online-chat__main-messages__item">
          <!-- user  -->
          <div class="online-chat__main-messages__user">
            <!-- img  -->
            <img
              src="@img/online-chat/user_1.png"
              alt="user"
              class="online-chat__main-messages__img"
            />
            <!-- img end  -->
            <!-- icon  -->
            <img
              src="@img/online-chat/green_rubin.svg"
              alt="icon"
              class="online-chat__main-messages__icon"
            />
            <!-- icon end  -->
          </div>
          <!-- user end  -->
          <!-- text  -->
          <p class="online-chat__main-messages__text">
            <!-- name  -->
            <span class="online-chat__main-messages__name"> Артемий </span>
            <!-- name end  -->
            ща на изи буду лутать бабки
          </p>
          <!-- text end  -->
        </li>
        <!-- messages item end -->
        <!-- messages item  -->
        <li class="online-chat__main-messages__item">
          <!-- user  -->
          <div class="online-chat__main-messages__user">
            <!-- img  -->
            <img
              src="@img/online-chat/user_2.png"
              alt="user"
              class="online-chat__main-messages__img"
            />
            <!-- img end  -->
            <!-- icon  -->
            <img
              src="@img/online-chat/red_rubin.svg"
              alt="icon"
              class="online-chat__main-messages__icon"
            />
            <!-- icon end  -->
          </div>
          <!-- user end  -->
          <!-- text  -->
          <p class="online-chat__main-messages__text">
            <!-- name  -->
            <span class="online-chat__main-messages__name"> Васька </span>
            <!-- name end  -->
            щя все слил!!111
          </p>
          <!-- text end  -->
        </li>
        <!-- messages item end -->
      </ul>
    </div>
  </div>
  <!-- main end  -->
  <!-- footer  -->
  <div class="online-chat__footer">
    <input
      type="text"
      class="online-chat__footer-field"
      placeholder="Написать сообщение..."
    />
    <ul class="online-chat__footer-btns">
      <li class="online-chat__footer-btns__item">
        <button class="online-chat__footer-file online-chat__footer-btn">
          <img src="@img/online-chat/files.svg" alt="file" />
        </button>
      </li>
      <li class="online-chat__footer-btns__item">
        <button class="online-chat__footer-send online-chat__footer-btn">
          <img src="@img/online-chat/send.svg" alt="send" />
        </button>
      </li>
    </ul>
  </div>
  <!-- footer end  -->
</div>
<!-- online chat end  -->
