<div class="profile-info">
  @@include('./tabs_menu.html') @@include('./profile_menu.html')
  <!-- wrap  -->
  <div class="profile-info__wrap">
    <!-- header  -->
    <div class="profile-info__header">
      <!-- header profile  -->
      <div class="profile-info__header-profile profile-header">
        <!-- img  -->
        <img src="" alt="Avatar" class="profile-header__img" />
        <!-- img end  -->
        <div class="profile-header__data">
          <!-- name  -->
          <div class="profile-header__name">
            <!-- name -->
            <p class="profile-header__nick">Nickname</p>
            <!-- name end  -->
            <!-- icon  -->
            <img
              src="@img/profile/settings.svg"
              alt=""
              class="profile-header__icon"
            />
            <!-- icon end  -->
          </div>
          <!-- name end  -->
          <!-- auth  -->
          <ul class="profile-header__links">
            <!-- item  -->
            <li class="profile-header-links-item">
              <a href="#" class="profile-header-link-link"
                >Войти с помощью Google</a
              >
            </li>
            <!-- item end  -->
            <!-- item  -->
            <li class="profile-header-links-item">
              <a href="#" class="profile-header-link-link"
                >Войти с помощью VK</a
              >
            </li>
            <!-- item end  -->
          </ul>
          <!-- auth end -->
        </div>
      </div>
      <!-- header profile end -->
    </div>
    <!-- header end -->
  </div>
  <!-- wrap end  -->
</div>
