<!-- roulette -->
<div class="roulette">
  <!-- menu  -->
  <ul class="roulette__menu">
    <!-- item  -->
    <li class="roulette__menu-item">
      <p class="roulette__menu-link roulette__menu-link--active">РУЛЕТКА</p>
    </li>
    <!-- item end  -->
    <!-- item  -->
    <li class="roulette__menu-item">
      <p class="roulette__menu-link">НАЗВАНИЕ</p>
    </li>
    <!-- item end  -->
    <!-- item  -->
    <li class="roulette__menu-item">
      <p class="roulette__menu-link">НАЗВАНИЕ</p>
    </li>
    <!-- item end  -->
  </ul>
  <!-- menu  -->
  <!-- roulette wrap  -->
  <div class="roulette__wrap">
    <!-- select  -->
    <div class="roulette__select"></div>
    <!-- select end  -->
    <!-- roulette line  -->
    <ul class="roulette__line">
      <!-- item  -->
      <li class="roulette__line-item">
        <img
          src="@img/roulette/gold.png"
          alt="Item"
          class="roulette__line-img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__line-item">
        <img
          src="@img/roulette/pike.png"
          alt="Item"
          class="roulette__line-img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__line-item">
        <img
          src="@img/roulette/gold.png"
          alt="Item"
          class="roulette__line-img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__line-item">
        <img
          src="@img/roulette/heart.png"
          alt="Item"
          class="roulette__line-img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__line-item">
        <img
          src="@img/roulette/gold.png"
          alt="Item"
          class="roulette__line-img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__line-item">
        <img
          src="@img/roulette/pike.png"
          alt="Item"
          class="roulette__line-img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__line-item">
        <img
          src="@img/roulette/gold.png"
          alt="Item"
          class="roulette__line-img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__line-item">
        <img
          src="@img/roulette/heart.png"
          alt="Item"
          class="roulette__line-img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__line-item">
        <img
          src="@img/roulette/gold.png"
          alt="Item"
          class="roulette__line-img"
        />
      </li>
      <!-- item end  -->
    </ul>
    <!-- roulette line end  -->
  </div>
  <!-- roulette wrap end -->
  <!-- last rolls  -->
  <div class="roulette__last-rolls">
    <!-- text  -->
    <p class="roulette__last-rolls__text">Прошлые роллы:</p>
    <!-- text end  -->
    <!-- rolls  -->
    <ul class="roulette__last-rolls__list">
      <!-- item  -->
      <li class="roulette__last-rolls__item">
        <img
          src="@img/roulette/gold_small.png"
          alt="item"
          class="roulette__last-rols__img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__last-rolls__item">
        <img
          src="@img/roulette/heart_small.png"
          alt="item"
          class="roulette__last-rols__img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__last-rolls__item">
        <img
          src="@img/roulette/gold_small.png"
          alt="item"
          class="roulette__last-rols__img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__last-rolls__item">
        <img
          src="@img/roulette/pike_small.png"
          alt="item"
          class="roulette__last-rols__img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__last-rolls__item">
        <img
          src="@img/roulette/gold_small.png"
          alt="item"
          class="roulette__last-rols__img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__last-rolls__item">
        <img
          src="@img/roulette/heart_small.png"
          alt="item"
          class="roulette__last-rols__img"
        />
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__last-rolls__item">
        <img
          src="@img/roulette/gold_small.png"
          alt="item"
          class="roulette__last-rols__img"
        />
      </li>
      <!-- item end  -->
    </ul>
    <!-- rolls end  -->
  </div>
  <!-- last rolls end -->
  <!-- bet  -->
  <div class="roulette__bet">
    <!-- sum  -->
    <div class="roulette__bet-sum">
      <!-- img  -->
      <img
        src="@img/roulette/money.svg"
        alt="money"
        class="roulette__bet-sum-img"
      />
      <!-- img end  -->
      <!-- field  -->
      <input
        type="text"
        class="roulette__bet-sum-field"
        placeholder="Введите сумму..."
      />
      <!-- field end  -->
    </div>
    <!-- sum end  -->
    <!-- options  -->
    <ul class="roulette__bet-options">
      <!-- item  -->
      <li class="roulette__bet-options__item">
        <button class="roulette__bet-options__btn">CLEAR</button>
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__bet-options__item">
        <button class="roulette__bet-options__btn">+10</button>
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__bet-options__item">
        <button class="roulette__bet-options__btn">+100</button>
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__bet-options__item">
        <button class="roulette__bet-options__btn">+1000</button>
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__bet-options__item">
        <button class="roulette__bet-options__btn">+10000</button>
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__bet-options__item">
        <button class="roulette__bet-options__btn">+100000</button>
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__bet-options__item">
        <button class="roulette__bet-options__btn">1/2</button>
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__bet-options__item">
        <button class="roulette__bet-options__btn">X2</button>
      </li>
      <!-- item end  -->
      <!-- item  -->
      <li class="roulette__bet-options__item">
        <button class="roulette__bet-options__btn">MAX</button>
      </li>
      <!-- item end  -->
    </ul>
    <!-- options end  -->
  </div>
  <!-- bet end  -->
</div>
<!-- roulette end -->
