.online-chat {
  width: 400px;
  height: 738px;
  border-radius: 5px;
  background: #212121;
  position: relative;
  // header
  &__header {
    padding: 16px 23px 16px 12px;
    background: #2f2f2f;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 2;
    // img
    &-img {
      width: 18px;
      height: 18px;
      margin-right: 9px;
    }
    // title
    &-title {
      @include mainColor;
      font-weight: 500;
      margin-right: auto;
    }
    // online
    &-online {
      display: flex;
      align-items: center;
      // count
      &-count {
        @include mainText;
        font-weight: 500;
        @include darkWhiteColor;
        margin-right: 6px;
      }
      // icon
      &-icon {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #79ffa7;
        box-shadow: 0px 0px 16px #79ffa7;
      }
    }
  }
  // main
  &__main {
    // wrap
    &-wrap {
      position: relative;
      overflow-y: scroll;
      height: 600px;
      &::-webkit-scrollbar {
        display: none;
      }
      // shadow
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 50px;
        z-index: 1;
        top: -10px;
        left: 0;
        background: linear-gradient(180deg, #212121 20.24%, rgba(28, 31, 36, 0) 113.1%);
      }
    }
    // messages
    &-messages {
      padding: 0 23px 0px 15px;
      // item
      &__item {
        display: flex;
        margin-bottom: 19px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      // user
      &__user {
        display: flex;
        margin-right: 2px;
      }
      // img
      &__img {
        width: 21px;
        height: 21px;
        border-radius: 50%;
        margin-right: 2px;
      }
      // icon
      &__icon {
        width: 22px;
        height: 22px;
      }
      // text
      &__text {
        @include darkWhiteColor;
      }
      // name
      &__name {
        @include mainText;
        @include mainColor;
        font-weight: 600;
        margin-right: 5px;
      }
    }
  }
  // footer
  &__footer {
    width: 100%;
    height: 46px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #252628;
    border: 1px solid rgba(255, 255, 255, 0.03);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    // field
    &-field {
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding-left: 16px;
      @include mainText;
      font-weight: normal;
      line-height: 96%;
      @include secondColor;
      border: 0;
      padding-bottom: 5px;
    }
    // btns
    &-btns {
      display: flex;
      align-items: center;
      margin: 0px 17px 0 0;
    }
    // btn
    &-btn {
      background-color: transparent;
      border: 0;
    }
    &-file {
      img {
        width: 24px;
        height: 24px;
      }
    }
    &-send {
      img {
        width: 17px;
        height: 16px;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .online-chat {
    display: none;
  }
}
