.footer {
  // wrap
  &__wrap {
    
  }
  // menu 
  &__menu {
    display: flex;
    @include greyColor;
    margin-left: 413px;
    margin-top: 50px;
    margin-bottom: 20px;
    // item 
    &-item {

    }
    // link 
    &-link {
      @include mainText;
      font-weight: normal;
      line-height: 156%;
      @include greyColor;
    }
  }
}
@media screen and (max-width:320px) {
  .footer {
    // menu 
    &__menu {
      margin: 117px 0 0 0;
    }
  }
}