.header {
  padding: 21px 0;
  background: rgba(35, 35, 35, 0.71);
  backdrop-filter: blur(40px);
  // burger 
  &__burger {
    display: none;
    // btn 
    &-btn {
      display: none;
    }
  }
  // wrap
  &__wrap {
    display: flex;
    align-items: center;
  }
  // logo
  &__logo {
    width: 158px;
    height: 37px;
    margin: 0px 33px 0px 0;
  }
  // menu
  &__menu {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 96%;
    margin: 0px 0 0px 0;
    @include secondColor;
    // item
    &-item {
      &:first-child {
        margin-right: 46px;
      }
      &:nth-child(2) {
        margin-right: 52px;
      }
      &:nth-child(3) {
        margin-right: 53px;
      }
    }
    // link
    &-link {
      @include secondColor;
      &--red {
        @include redColor;
        &:hover {
          @include redColor;
        }
      }
    }
  }
  // user
  &__user {
    display: flex;
    margin-left: auto;
    // img
    &-img {
      width: 69px;
      height: 69px;
      border-radius: 50%;
      margin: 0px 11px 0px 0;
    }
    // info
    &-info {
    }
    // name
    &-name {
      @include mainText;
      font-weight: 600;
      margin-bottom: 7px;
    }
    // balance
    &-balance {
      display: flex;
      margin-bottom: 11px;
    }
    // count
    &-count {
      // wrap
      &-wrap {
        display: flex;
        margin-right: 11px;
      }
      // img
      &-img {
        width: 16px;
        height: 18px;
        margin-right: 4px;
      }
      // text
      &-text {
        @include mainText;
      }
    }
    // user menu
    &-menu {
      display: flex;
      @include mainText;
      font-weight: normal;
      @include secondColor;
    }
    // user item
    &-item {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
    // user link
    &-link {
      @include secondColor;
    }
    // level
    &-level {
      display: flex;
      // current
      &-current {
        margin-right: 6px;
      }
      // text
      &-text {
        @include mainText;
        font-weight: 500;
        color: #95999f;
        span {
          @include mainColor;
        }
      }
      // progress
      &-progress {
        margin-right: 6px;
        position: relative;
        background-color: #2c2c2c;
        border-radius: 54px;
        width: 211px;
        height: 8px;
      }
      // line
      &-line {
        width: 113px;
        height: 8px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #c4364e;
        box-shadow: 0px 0px 19px rgba(196, 54, 78, 0.33);
        border-radius: 54px;
      }
    }
  }
}
@media screen and (max-width:320px) {
  .header {
    // menu 
    &__menu {
      display: none;
    }
    &__logo {
      display: none;
    }
    &__user {
      display: none;
    }
    &__burger {
      
      // btn 
      &-btn {
        display: block;
      }

    }
  }
}