@mixin inter {
  font-family: "Inter", sans-serif;
}
@mixin mainColor {
  color: #ffffff;
}
@mixin greyColor {
  color: #5f5f5f;
}
@mixin secondColor {
  color: #575757;
}
@mixin redColor {
  color: #c4364e;
}
@mixin greenColor {
  color: #c4364e;
}
@mixin darkWhiteColor {
  color: #ced7e2;
}

@mixin mainText {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}
